# Ignore pycache
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore artefact
currently_important_artefact.ipynb

#ignore test case
# Testcase.ipynb
boundaries.pdf
draft.ipynb
*.gz
*.pdf
test-output/flowchart
